# Ignorar entorno virtual
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos temporales
*.log
*.tmp
*.csv
*.sqlite3

# Ignorar archivos del entorno local
.env
.DS_Store

# Archivos de IDE
.vscode/
.idea/
